# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
from pathlib import Path
# Конфигурация базы данных
PATH = Path(__file__).parent
DATA_FILE= PATH / "data" / "file_name" # Путь к файлу
LOG_FOLDER= PATH / "logs" # Путь к папке LOG

# API-ключи
API_KEY_APILAYER =  #API для курса валют https://apilayer.com/marketplace/currency_data-api?utm_source=apilayermarketplace&utm_medium=featured&e=Sign+In&l=Success
API_KEY =  #API для стоимости акций https://marketstack.com/documentation