# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Конфигурация базы данных
DATA_FILE=   # Путь к файлу

# API-ключи
API_KEY_APILAYER =  #API для курса валют https://apilayer.com/marketplace/currency_data-api?utm_source=apilayermarketplace&utm_medium=featured&e=Sign+In&l=Success
API_KEY =  #API для стоимости акций https://marketstack.com/documentation